<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 
		  日志安裝日志和大小滾動    簡單解釋为 在同一天的日志文件按照大小進行分割
		 file 为日志文件路徑+名稱
		 fileNamePattern 为滾動後重命名的路徑+名稱
		 NB: 注意文件路徑分隔符 WIN '\' , LINUX '/'
	 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>\logs\log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>\logs\log-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root>
		<level value="debug" />
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>